* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: white;
}

a {
  color: #242424;
  text-decoration: none;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 2.5em;
  color:  #17202a;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #2c3e50;
}

p {
  font-size: 1.1em;
  color: #2c3e50;
}

header {
  background-color: #d4e6f1;
  display: flex;
  flex-direction: row;
  /* margin-left: 20%; */
  /* margin-right: 20%; */
}

footer {
  background-color:  #d4e6f1;
  padding: 20px 50px;        /* height and width around text */
  /* margin-left: 20%; */
  /* margin-right: 20%; */
  display: flex;
  justify-content: space-between;  
}

a:hover {
  text-decoration: underline;
}

section {
  padding: 80px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* https://www.codeur.com/tuto/css/creer-menu-deroulant-css/  */

nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: 50px;
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: #d4e6f1;
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li:hover > a{
  color:  #8e44ad;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}

.drop-down-menu > a:after{
  content: '>';
  font-size: 15px;
  margin-left: 0px;
  display: inline-block;
}

.drop-down-menu:hover > a:after{
  animation: rotation-arrow 0.2s linear forwards;
}

@keyframes rotation-arrow {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.sub-menu {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  max-height: 0;
  border-radius: 2px;
  background-color: #d4e6f1;
}

.drop-down-menu:hover > .sub-menu {
  animation: animate-sub-menu 1s forwards;
}

@keyframes animate-sub-menu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.sub-menu > li > a {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 50px;
  width: 100%;
}

.sub-menu > li:hover > a {
  color: #8e44ad;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.home-introduction {
  display: flex;
  flex-direction: row;
  /*width: 80%;*/
  align-items: center;
  justify-content: center;
  margin: auto;
}

.home-introduction h1 {
  margin-bottom: 15px;
}

.home-introduction p {
  margin-bottom: 30px;
}

.home-introduction div {
  padding-right: 80px;
  width: 50%;
}

.contact {
  color: #808b96;
}
