.. _requirements:

Requirements
*********************************************************

To utilize the developments in Meso-NH, WW3, CROCO, and OASIS coupling, you need to meet the following requirements:

+--------------------+-----------------+
| .. centered:: Hardware               |
+====================+=================+
| Operating System   | Linux           |
+--------------------+-----------------+
| Disk space         | 10 Go minimum   |
+--------------------+-----------------+
| Processor          | 4 cores minimum |
+--------------------+-----------------+

+--------------------+---------------------+
| .. centered:: Software                   |
+====================+=====================+
| Compiler           | gfortran or ifort   |
+--------------------+---------------------+
| Parallel library   | MPI                 |
+--------------------+---------------------+
| Preprocessing      | Python3             |
+--------------------+---------------------+
