.. _RST Requirements:

Requirements
*********************************************************

To be able to use Meso-NH, WW3 and OASIS coupling's developments you need to have the following requirements :

+--------------------+-----------------+
| .. centered:: Hardware               |
+====================+=================+
| Operating System   | Linux           |
+--------------------+-----------------+
| Disk space         | 10 Go minimum   |
+--------------------+-----------------+
| Processor          | 4 cores minimum |
+--------------------+-----------------+

+--------------------+---------------------+
| .. centered:: Software                   |
+====================+=====================+
| Compiler           | gfortran or ifort   |
+--------------------+---------------------+
| Parallel library   | MPI                 |
+--------------------+---------------------+
| Preprocessing      | Python3             |
+--------------------+---------------------+
